.portfolio {
  height: 100vh;
  min-height: 650px;
  .inner {
    max-width: 100vw;
    padding: 0;
    .portfolio-box {
      display: flex;
      align-items: center;
      width: 100%;
      .portfolio-left {
        width: 560px;
        height: 315px;
      }
      .portfolio-right {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        h4 {
          color: #000;
          &::after {
            content: "";
            display: block;
            width: 10px;
            height: 1px;
            background-color: #000;
            margin: 10px 0 10px 0px;
          }
        }
        img {
          width: 4%;
        }
        .portfolio-skill {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 10px;
        }
        .portfolio-show {
          margin-top: 10px;
          a {
            padding-right: 10px;
          }
        }
      }
    }
  }
}
//pc
@media screen and (max-width: $desktop) {
}
//tablet
@media screen and (max-width: $tablet) {
}
//mobile
@media screen and (max-width: $mp) {
  .portfolio-left,
  .portfolio-right {
    width: 100% !important;
  }
}
