.profile {
  height: 100vh;
  min-height: 650px;
  background: #9f88b1;
  .inner {
    height: 100%;
    h2 {
      font-size: 2rem;
      line-height: 1.2;
      color: #fff;
      &::after {
        content: "";
        display: block;
        width: 55px;
        height: 2px;
        background-color: #fff;
        margin: 20px 0 50px 0;
      }
    }
    .profile-box {
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 0 10px;
      width: 100%;
      padding-bottom: 100px;
      h3 {
        color: #9f88b1;
        padding-bottom: 20px;
      }
      .profile-intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        background-color: #fff;
        border-radius: 20px;
        padding: 60px 20px;
        img {
          width: 70%;
          border-radius: 50%;
          margin-bottom: 50px;
        }
        .intro_txt {
          display: flex;
          flex-direction: column;
          line-height: 2;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .profile-experience {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        background-color: #fff;
        border-radius: 20px;
        padding: 60px 20px;
      }
      .experience-txt {
        display: flex;
        flex-direction: column;
        h3 {
          padding-top: 0;
          color: #9f88b1;
        }
      }
      .education-txt {
        display: flex;
        flex-direction: column;
        h3 {
          padding-top: 0;
          color: #9f88b1;
        }
      }
      .profile-me {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 25%;
        background-color: #fff;
        border-radius: 20px;
        padding: 60px 20px;
        h3 {
          padding-top: 0;
          color: #9f88b1;
        }
        span {
          line-height: 2;
        }
      }
      .profile-mbti {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        background-color: #fff;
        border-radius: 20px;
        padding: 60px 20px;
        img {
          width: 60%;
          border-radius: 50%;
          margin-bottom: 50px;
        }
        .mbti-txt {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

//pc
@media screen and (max-width: $desktop) {
}
//tablet
@media screen and (max-width: $tablet) {
}
//mobile
@media screen and (max-width: $mp) {
  // .profile .contents {
  //   flex-wrap: wrap !important;
  //   .profile-box {
  //     width: 100% !important;
  //   }
  // }
}
