.skills {
  position: relative;
  height: 100vh;
  min-height: 650px;
  background-image: url(../../public/images/skillBg.jpg);
  background-size: cover;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right top,
      #917c96,
      #907894,
      #8e7492,
      #8d7090,
      #8c6c8e,
      #8a698e,
      #87678d,
      #85648d,
      #80638e,
      #7b618f,
      #766090,
      #705f91
    );
    opacity: 0.4;
  }
  .inner {
    height: 100%;
    h2 {
      font-size: 2rem;
      line-height: 1.2;
      color: #fff;
      &::after {
        content: "";
        display: block;
        width: 55px;
        height: 2px;
        background-color: #fff;
        margin: 20px 0 50px 0;
      }
    }
    .contents {
      display: flex;
      justify-content: space-between;
      width: 100%;
      // padding-bottom: 100px;
      .skills-txt {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        width: 30%;
        max-width: 25%;
        span {
          display: block;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 30px;
          color: #000;
          font-size: 18px;
          line-height: 2;
          padding: 20px;
        }
      }
      .skills-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        width: 70%;
        height: 100%;
        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: calc(100% / 6);
          height: 165px;
          text-align: center;
          border-radius: 30px;
          background-color: rgba(255, 255, 255, 0.7);
          img {
            width: 40%;
            margin-bottom: 10px;
          }
          a {
            display: block;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
//pc
@media screen and (max-width: $desktop) {
}
@media screen and (max-width: 1024px) {
  .skills {
    height: 100%;
    .contents {
      flex-direction: column;
      .skills-txt {
        flex-direction: row !important;
        width: 100% !important;
        max-width: 100% !important;
        gap: 0 20px !important;
        span {
          font-size: 16px !important;
          width: calc(100% / 3);
        }
      }
    }
    .skills-list {
      width: 100% !important;
      padding: 50px 0 100px;
    }
  }
}
//tablet
@media screen and (max-width: $tablet) {
}
//mobile
@media screen and (max-width: $mp) {
}
